form{
    background-color: #000000;
    padding: 2rem;
    padding-top: 1rem;
    font-family: sans-serif;
    width: 550px;
    margin: 3rem auto;
    border: none;
    border-radius: 10px;
    color: white;
}
h1{
    text-align: center;
    font-size: 40px;
}
label{
    font-size: 20px;
    font-weight: 100;
}
input[type=text],[type=number],select{
    display: block;
    padding: 0.7rem;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 8px 0;
    width: 100%;
}

#submit{
    width: 100%;
    border: none;
    padding: 0.7rem;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 251, 251);
    font-size: 20px;
    font-weight: 700;
}
#submit:hover{
    background-color: rgb(31, 30, 30);
}
p{
    color: rgb(235, 6, 6);
    font-weight: 500;
}