table {
    margin:20px;
    padding: 1rem;
    border:1px solid black;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(193, 188, 188);
  }
table th{
  margin: 1rem;
}
#todays-food-list{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 32px 10px;
  width: 250px;
  border-radius: 10px;
  padding: 1rem;
  
}